* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    background-color: #02225F;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.wrap 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left-wrap, .right-wrap
{
    margin-left: 10px;
    margin-right: 10px;
}

.signup-section 
{
    margin: 5px;
    width: 1000px;
}

.signup-form 
{
    padding: 24px;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.signup-form input
{
    background-color: whitesmoke;
    margin:7px;
}

.signup-title 
{
    font-size: 22px;
    font-weight: 700;
    margin-bottom:30px;
    line-height: 1.5;
    padding: 20px;
    text-align: center;
    color: #15388f;
}

.signup-form-group 
{
    display: flex;
    position: relative;
    margin-bottom: 16px;
}

.signup-form-control 
{
    outline: transparent;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 24px 16px 8px 16px;
    width: 400px;
    transition: all .15s ease-in-out;
}

.signup-form-radio
{
    position: relative;
    margin-bottom: 26px;
    margin-top: 26px;
    padding-left: 16px;
    width: 400px;
    color: grey;
}

.signup-form-radio input[type = "radio"]
{
    accent-color: #02225F;
    margin-left: 50px;
}

#nationality
{
    background-color: whitesmoke;
    margin:7px;
}

.signup-form-label 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: grey;
    pointer-events: none;
    transition: all .1s ease-in-out;
}

.signup-form-control:focus {
    outline: 1px solid #02225F;
    border-color: #02225F;
}

.signup-form-control:focus + .signup-form-label,
.signup-form-control:not(:placeholder-shown) + .signup-form-label 
{
    top: 30%;
    font-size: 12px;
}

.signup-form-label-required::after 
{
    content: ' *';
    color: red;
}

.signup-form-submit-button 
{
    background-color: #02225F;
    border-radius: 8px;
    outline: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    font-weight: 600;
    padding: 16px;
    transition: all .15s ease-in-out;
    margin:7px;
}

.signup-form-submit-button:hover 
{
    background-color: #15388f;
    color: white;
}

.error p
{
    background-color: red;
    margin:7px;
    border: 1px solid red;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    padding-left: 16px;
    padding-top: 10px;
    color: white;
    pointer-events: none;
}